{%load static%}

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{blog.image.url}}" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'blog_details' blog.slug%}">{{blog.title}}</a>
                </h5>
                <p class="card-text">
                    {{blog.description | safe | slice:"0:75"}}
                </p>
            </div>
        </div>
    </div>
</div>