<nav class="navbar navbar-dark bg-primary navbar-expand-lg ">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Blog app</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogs' %}">Blogs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>