{% extends "base.html" %}
{%load static%}
{% block title %} Blog Detail {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h1 class="card-title h2 mb-3">
                                {{blog.title|title}}
                            </h1>
                            <img src="{{blog.image.url}}" style="float: left; margin-right: 20px;" class="img-fluid mb-2" alt="..." width="600">
                            <p class="card-text">
                                {{blog.description|safe}}  <!-- safe is used to display html tags -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}